:root {
  --azul: #2F378C;
  --rosa: #E6007D;
  --fondo: #F9F9F9;
  --blanco: #ffffff;
  --borde-gris: #ccc;
  --border_rad_componentes: 25px;
  --letra_componentes: 16px
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 18px;
  /* background-color: #E6007D; */
}

.ancho {
  max-width: 1200px;
  margin: auto;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  width: 100%;
  /* border: 1px teal solid; */
  background-color: var(--azul);
  padding:20px;
  display: flex;
  justify-content: center;
}
.header p{
  font-size: 28px;
  color: var(--blanco);
}
.tabs {
  width: 100%;
  /* border: 1px green solid; */
  border: 3px var(--borde-gris) solid;
  border-radius: 15px;
  padding: 20px;
}
.tabs ul{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.tabs ul li a{
  /* border: 1px green solid; */
  padding: 10px 15px;
  background-color: var(--rosa);
  color: var(--blanco);
  border-radius: var(--border_rad_componentes);
  cursor: pointer;
  border: 0;
}
.u_conectados_contenedor {
  width: 100%;
  /* border: 1px blue solid; */
  border: 3px var(--borde-gris) solid;
  border-radius: var(--border_rad_componentes);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  
}
.u_conectados_contenido{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
#userConnected {
  border: 3px var(--borde-gris) solid;
  border-radius: var(--border_rad_componentes);
  width: 20%;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}
.containerChats{
  border: 3px var(--borde-gris) solid;
  border-radius: var(--border_rad_componentes);
  width: 100%;
  height: 100%;
  padding: 5px;
  /* background-color: #ccc; */
}

 .chat {
  height: 100%;
  overflow-y: auto;
}

.infoInput {
  width: 100%;
  padding: 5px;
  /* border: 1px green solid; */
  font-size: 11px;
  position: relative;
  left: 10px;
  top: -5px;
}

.enviomsg {
  width: 100%;
  border: 3px var(--borde-gris) solid;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap:15px;
}

#user{
  padding: 10px;
  width: 25%;
  font-size: 14px;
  border: 2px var(--borde-gris) solid;
  border-radius: 15px;
}
#message{
  padding: 10px;
  width: 75%;
  font-size: 14px;
  border: 2px var(--borde-gris) solid;
  border-radius: 15px;
}
.newMessage{
  padding: 0px 5px;
}
.disabled {
  pointer-events: none;
  color: #aaaaaa !important;
}

.chatUser {
  font-weight: bold;
  margin-right: 5px;
}

::placeholder {
  color: #ccc;
  opacity: .8;
}

.tabs ul {
  border-bottom: 0 !important;
  font-size: 14px;
  list-style: none;
}

.tabs.is-boxed a:hover,
.active {
  border: 1px solid #ffffff;
}

.u_conectados_contenedor .infoInput {
  text-align: right;
  left: 0;
  top: 0px;
  height: 15px;
}

.hide {
  display: none;
}

/* .card {
  border: 1px solid #dddddd;
  max-height: 343px;
  height: 343px;
} */

.notification {
  transition: 300ms ease-in-out;
  position: fixed;
  bottom: -24px;
  width: 100%;
  opacity: 1;
  z-index: 10;
}

.notification.hidden {
  transition: 300ms ease-in-out;
  bottom: -100px;
  opacity: 0;
  z-index: -1;
}


#userConnected .chatUser {
  cursor: pointer !important;
}

/* .general2{
  border: 1px red solid;
} */